<!--The content below is only a placeholder and can be replaced.-->
<app-navbar [user]='user' [loggedin]='loggedin'></app-navbar>
<div *ngIf='!loggedin'>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4 login-registration">
			<app-login-registration (userLoggedIn)='login($event)'></app-login-registration>
		</div>
	</div>
</div>
<div *ngIf='loggedin'>
	<div class="container-fluid main">
	  <div class="row">
	    <div class="col-sm-6"><app-submit (submitCake)='newCake($event)'></app-submit></div>
	    <div class="col-sm-6"><app-rate [cakes]='cakes' (rateCake)='rateCake($event)'></app-rate></div>
	  </div>
	  <div class="row">
	    <div class="col-sm-12">
	      <app-focus [cake]='focusedCake' [focus]='focus'></app-focus>
	    </div>
	  </div>
  	</div>
</div>


