<div class="container-fluid main">
	<div *ngFor='let cake of cakes' class='row'>
		<div class="col-sm-12">
			<h3>{{cake.title}}</h3>
			<div class="row">
				<div class="col-sm-6"><img src="{{cake.url}}"></div>
				<div class="col-sm-6">
					<form #rateForm="ngForm" (ngSubmit)='rate(rateForm, cake._id)'>
						<select name='rate' ngModel>
							<option value='1'>1 Star</option>
							<option value='2'>2 Stars</option>
							<option value='3'>3 Stars</option>
							<option value='4'>4 Stars</option>
							<option value='5'>5 Stars</option>
						</select>
						<textarea name='comment' ngModel></textarea>
						<input type="submit" name="submit">
					</form>
				</div>
			</div>
			<p>{{cake.description}}</p>
		</div>
	</div>
</div>
